/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-google {
    background: #DB4437;
    border: none;
}

.btn-google:hover, .btn-google:focus {
    background: #DB4437;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/register.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
}
#logo{
    font-weight: bold;
}
.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
